<footer class="border-top">
    <div class="footer-info">
        <div class="footer-socials">
            <i class="fa-brands fa-meta"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div> &copy; Wanderlust Private Limited</div>
        <div class="footer-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/contactus">Contact Us</a>
            <a href=""></a>
        </div>
    </div>
</footer>